.App {
  text-align: center;
}

#delete {
  margin-left: 3em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  margin-right: 1.5em;
}

#addtodo {
  margin-top: 0.7em;
}

#todotext {
  font-size: 2em;
  margin-left: 0.5em;
}

#tododiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(90deg, #ab4967 0%, #cdcdcd 100%);
  border-radius: 25px;
}

#tododiv:nth-child(4n + 1) {
  background: linear-gradient(90deg, #011638 0%, #cdcdcd 100%);
}

#tododiv:nth-child(4n + 2) {
  background: linear-gradient(90deg, #0f8b8d 0%, #cdcdcd 100%);
}

#tododiv:nth-child(4n + 3) {
  background: linear-gradient(90deg, #9f87af, #cdcdcd 100%);
}

#todoinput {
  width: 48%;
}
